/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    color: black;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
} 

.logo {
    width: 65px;
    padding-top: 30px;
    padding-bottom: 40px;
}

nav ul li a {
    color: inherit;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400; 
    padding-top: 13px;
    border-top: 2px solid #F2F2F2;
}

nav ul li a:hover {
    color:#0065FC;
    border-top: 2px solid #0065FC;
}

nav ul { 
    display: flex;
    list-style: none;
    gap: 68px;
    padding-top: 15px;
}

.recherche {
    margin: 35px 0;
}

.recherche h1 {
    margin-bottom: 8px;
    font-size: 22px;
}

.form-recherche {
    display: flex;
    height: 50px;
    width: 377px;
    margin: 35px 0;
}

.icon-loc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 50px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
    color: black;
}

.form-recherche input {
    text-align: center;
    flex: 1;
    font-size: 18px;
    font-weight: 700;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
}

.form-recherche input:focus {
    outline: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
}

.form-recherche ::placeholder {
    color: black;
    text-align: left;
    padding-left: 15px;
}

.btn-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    color: white;
    flex: 0 0 132px;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

.btn-mobile {
    display: none;
}

.filtres {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    margin: 35px 0;
    padding: 0;
}

.filtres-label {
    font-size: 18px;
    font-weight: 700;
}

.filtres-item button {
    display: flex;
    align-items: center;
    background-color: white;
    height: 50px;
    font-size: 17px;
    font-weight: 700;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    gap: 10px;
    padding: 4px 19px;
}

.filtres-item button:hover {
    background-color: #DEEBFF;
}

.resultat {
    display: flex;
    align-items: center;
    gap: 10px;
}

.resultat i {
    display: flex;
    flex: 0 0 24px;
    align-items: center;
    justify-content: center;
    border: 1px solid #D9D9D9;
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-subtitle {
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.hebergements-and-populaires a {
    text-decoration: none;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards a {
    flex: 1 1 220px;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-top: 33px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
}  

.hebergements-cards img {
    height: 114px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 15px;
}

.hebergements-cards .card-title {
    margin-top: 8px;
    margin-bottom: 10px;
}

.hebergements-cards .card-subtitle {
    margin: 0 0 4px 0;
}

.hebergements-cards .card-rating {
    margin: 4px 0 8px 0;
}

.afficher-plus {
    font-size: 18px;
    font-weight: 700;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

.activites {
    margin: 50px 0;
}

.activites .section-title {
    margin: 30px;
}

.activites-cards a {
    text-decoration: none;
    width: 22.5%;
}

.activites-cards {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    gap: 30px;
}  

.activites-cards .card {
    display: flex;
    flex-direction: column; 
    padding: 0;
}

.activites-cards img {
    display: flex;
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.activites .card-title {
    padding: 20px;
    display: flex;
    align-items: center;
    min-height: 40px;
}

/****** Footer ***********/

footer {
    display: flex;
    background-color: #F2F2F2;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    list-style: none;
    width: 33%;
}

.footer-title {
    font-size: 18px;
    font-weight: 700;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/



/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .main-container {
        padding: 0 35px;
    }

    .filtres {
        flex-wrap: wrap;
    }

    .filtres-label {
        width: 100%;
    }

    .filtres-item button {
        font-size: 16px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title,
    .hebergements-cards .card-title,
    .activites-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle,
    .hebergements-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards img {
        height: 200px;
    }

    .activites .card-title {
        padding: 18px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    .main-container {
        padding: 0;
    }

    nav {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        width: 100%;
        gap: 0;
        padding: 0;
    }

    nav ul li {
        width: 50%;
        text-align: center;
        padding-bottom: 13px;
        border-bottom: 2px solid #F2F2F2;
    }

    nav ul li a {
        border-top: none;
    }

    nav ul li a:hover {
        border-top: none;
    }

    nav ul li:hover {
        border-bottom: 2px solid #0065FC;
        padding-bottom: 15px;
    }

    .recherche {
        padding: 0 15px;
    }

    .form-recherche {
        max-width: 100%;
    }

    .filtres {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .filtres-label {
        width: 100%;
    }

    .filtres-item {
        width: 47%;
    }

    .filtres-item button {
        font-size: 14px;
        width: 100%;
        padding: 14px;
    }

    .btn-desktop {
        display: none;
    }

    .btn-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 50px;
        height: 50px;
        background-color: #0065FC;
        border: 1px solid #0065FC;
        border-radius: 15px;
        cursor: pointer;
    }

    .icon-loupe {
        color: white;
        font-size: 17px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
         border-radius: 0;
         padding: 20px;
    }

    .hebergements-and-populaires .hebergements {
        background: white;
        margin-top: 20px;
    }

    .populaires-cards,
    .activites-cards {
        flex-direction: column;
    }

    .activites-cards a,
    .hebergements-cards a,
    .populaires-cards a {
        width: 100%;
    }

    .activites-cards img {
        height: 140px;
    }

    .activites-cards .card {
        height: 200px;
    }

    footer {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    footer ul {
        width: auto;
        padding: 30px;
    }

}
